body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("../images/dna-3d-structure-glend-abdul-art-collections.jpeg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.headline {
  font-family: Montserrat, sans-serif !important;
  font-size: 4.5rem;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgb(0 0 0 / 60%);
}